name: ske-doc

channels:
  - conda-forge


dependencies:
  - python=3.10
  - pip
  # install if with conda, pip fails when executed on Apple ARM
  - tensorflow-cpu
  - pip:
    - jupyter-book
    - jupytext
    - papermill
    - seaborn
    - ploomber
    - ploomber-engine
    - jupysql
    - keras
    - pkgmt>=0.1.7
    - altair
    - lxml
    - ..

